@model DancingGoat.Models.Checkout.CustomerViewModel

<h4>@ResHelper.GetString("com.customeredit.customerdetials")</h4>

@Html.ValidatedEditorFor(m => m.FirstName)
@Html.ValidatedEditorFor(m => m.LastName)
@Html.ValidatedEditorFor(m => m.Email)
@Html.ValidatedEditorFor(m => m.PhoneNumber)

<h4>@ResHelper.GetString("com.customeredit.companydeatils")</h4>

@Html.ValidatedEditorFor(m => m.Company)
@Html.ValidatedEditorFor(m => m.OrganizationID)
@Html.ValidatedEditorFor(m => m.TaxRegistrationID)