@model Kentico.Membership.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit user details";
}

<h2>Edit user details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div>
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @disabled = "disabled" })
    </div>
    <div>
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName)
    </div>
    <div>
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName)
    </div>
    <input type="submit" value="Save changes" />
}

<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>