@model DancingGoat.Models.Checkout.CartViewModel

@foreach (var cartItem in Model.Cart.Items)
{
    <div class="row">
        <div class="col-md-10">
            <div class="cart-item-image">
                <a href="@Url.Action("ItemDetail", new { skuId = cartItem.SKUID })">
                    @Html.Image(@cartItem.ImagePath, @cartItem.Name, null, SizeConstraint.MaxWidthOrHeight(70))
                </a>
            </div>
            <div class="cart-item-info">
                @Html.ActionLink(cartItem.Name, "ItemDetail", new { skuId = cartItem.SKUID })
            </div>
            @using (Html.BeginForm("ShoppingCart", "Checkout", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="cart-item-amount">
                    <span>Qty</span>
                    <input type="hidden" name="ID" value="@cartItem.ID" />
                    <input type="text" name="Units" value="@cartItem.Units" class="form-control" />
                    <input type="submit" name="UpdateItem" value="@ResHelper.GetString("DancingGoatMvc.ShoppingCart.Update")" class="btn btn-default" />
                    <input type="submit" name="RemoveItem" value="@ResHelper.GetString("DancingGoatMvc.ShoppingCart.Remove")" class="btn btn-default" />
                </div>
            }
            @Html.ValidationMessage(cartItem.ID.ToString(), new { @class = "red"})
        </div>
        <div class="col-md-2 cart-item-subtotal">
            <span>@Model.Cart.Currency.FormatPrice(cartItem.Subtotal)</span>
        </div>
    </div>
    <hr />
}
