@model RequestPasswordResetViewModel

@{
    ViewBag.Title = "Password reset request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password reset request</h2>

<p>Enter the email address associated with your user account. The system will send you an email with a link that allows you to reset your password.</p>
@using (Html.BeginForm("RequestPasswordReset", "PasswordReset", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div role="form">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary(true, "")
        }

        <div>
            @Html.LabelFor(model => model.Email)
        </div>
        <div>
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <input type="submit" value="Request password reset" />
    </div>
}
<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>