@model ResetPasswordViewModel

@{
    ViewBag.Title = "Password reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password reset</h2>

@using (Html.BeginForm("ResetPassword", "PasswordReset", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div role="form">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary(true, "")
        }

        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Token)

        <div>
            @Html.LabelFor(model => model.Password)
        </div>
        <div>
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, "")
        </div>

        <div>
            @Html.LabelFor(model => model.PasswordConfirmation)
        </div>
        <div>
            @Html.PasswordFor(model => model.PasswordConfirmation)
            @Html.ValidationMessageFor(model => model.PasswordConfirmation)
        </div>

        <input type="submit" value="Set new password" />
    </div>
}
<p>
    @Html.ActionLink("> Back to the home index", "Index", "Home")
</p>