@model IEnumerable<CMS.DocumentEngine.Types.DancingGoatMvc.AboutUsSection>

@{
    ViewBag.Title = ResHelper.GetString("DancingGoatMvc.AboutUs");
    int i = 0;
}

@foreach (var aboutSection in Model)
{
    <section class="row text-and-image">
        <h2 class="col-lg-12">@aboutSection.Fields.Heading</h2>
        @if (i++ % 2 == 0)
        {
            <div class="col-md-6">
                <div class="text-and-image-text">
                    @Html.Raw(aboutSection.Fields.Text)
                </div>
            </div>
            <div class="col-md-6">
                @Html.AttachmentImage(aboutSection.Fields.Image, aboutSection.Fields.Heading, "img-responsive")
            </div>
        }
        else
        {
            <div class="col-md-6 col-md-push-6">
                <div class="text-and-image-text-right">
                    @Html.Raw(aboutSection.Fields.Text)
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                @Html.AttachmentImage(aboutSection.Fields.Image, aboutSection.Fields.Heading, "img-responsive")
            </div>
        }
    </section>
}

@{ Html.RenderAction("MediaGallery", "About"); }