@model Sandbox.Models.Account.ManageUserRolesViewModel

@{
    ViewBag.Title = "Manage user roles";
}

<div class="container">
    @if (Model != null && Model.User != null)
    {
        <h2>Manage roles for user '@Model.User.UserName'</h2>

        <p>Logged as: '@ViewBag.CurrentUserName'</p>

        <h3>Available roles:</h3>

        <table>
            <thead>
                <th style="border: black 1px solid;">'@Model.User.UserName' roles</th>
                <th style="border: black 1px solid;">Site and global roles</th>
            </thead>
            <tbody>
                <tr>
                    <td style="border: black 1px solid;">
                        <ul>
                            @if (Model.UserRoles != null)
                            {
                                foreach (var s in Model.UserRoles)
                                {
                                    <li>@s</li>
                                }
                            }
                        </ul>
                    </td>
                    <td style="border: black 1px solid;">
                        <ul>
                            @if (Model.SiteRoles != null)
                            {
                                foreach (var s in Model.SiteRoles)
                                {
                                    <li>@s</li>
                                }
                            }
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        

        <h3>Specify role and choose action:</h3>
        using (Html.BeginForm("ManageUserRoles", "MembershipExamples", new { userId = Model.User.Id }, FormMethod.Post, null ))
        {
            @Html.AntiForgeryToken()

            <dl>
                <dt>@Html.LabelFor(m => m.RoleName):</dt>
                <dd>@Html.TextBoxFor(m => m.RoleName)</dd>
                <dd>
                    <input type="submit" name="action" value="@Sandbox.Models.Account.ManageUserRolesViewModel.Actions.AddRole" class="btn btn-primary" />
                    <input type="submit" name="action" value="@Sandbox.Models.Account.ManageUserRolesViewModel.Actions.RemoveRole" class="btn btn-primary" />
                </dd>
            </dl>
        }
    }
    else
    {
        <p>User was not found!</p>
    }

    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div style="border: red 1px solid; background-color: lightpink;">
            @Html.ValidationSummary()
        </div>
    }

    @Html.ActionLink("Back to user list", "AllUsers")

</div>
